---
- hosts: all
  become: true
  user: vagrant
  tasks:
   - name: yum update
     yum: name=* state=latest
     
   #- name: apache install
   #  yum: pkg=httpd state=latest
     #other commands   run manually from box within  or via ansible 
     #sudo subscription-manager register --username bhamakripa@gmail.com --password admin@DB2 --auto-attach
     #sudo yum install httpd     
     #sudo rpm -qa | grep httpd     
     #sudo service httpd start     
     #curl localhost